<!-- public/views/home.html -->

<div class="bg">

    <div class="container blur">

        <header class="appHeader">
            <h2>Nootti <small>- The note taking app.</small></h2>

            <form ng-submit="searchOrCreate()">
                <input type="text" class="form-control" ng-model="searchText" placeholder="Search or Create" ng-keyup="handleKeyPress($event)" id="searchText" autofocus>
            </form>
        </header>

        <ul class="titles"><li class="titlerow" ng-repeat="note in filteredNotes = (visibleNotes | noteFilter:searchText:enableFilter | orderBy : ['ranking', '-updated_at'])" ng-class="{current: $index==current_index}" id="{{ note._id }}" ng-click="selectNote($index)">
                <span class="title">
                    {{ note.title }}
                </span>
                <span class="preview">
                    {{ note.content | limitTo : 45 }} {{ note.content.length > 45 ? "..." : "" }}
                </span>
                <span class="date">
                    {{ note.updated_at | date : 'dd.MM.yyyy hh.mm.ss' }}
                </span>
                <div class="cf"></div>
            </li></ul>

        <div class="appBody">
            <textarea id="editingArea" ng-model="current.content" class="form-control" rows="10" ng-disabled="current === undefined" ng-keyup="enableAutoSave()"></textarea>

            <div class="noteFooter">
                <span class="left" ng-hide="current_index === -1">&nbsp;{{ state }}</span>
                &nbsp; <!-- just placeholder -->
                <span class="center"><a class="delete" href="#" ng-hide="current_index === -1" ng-click="deleteCurrent()">delete</a></span>
                <span class="right" ng-hide="current_index === -1">{{ countOf( current.content ) }} word(s)</span>
                <div class="cf"></div>
            </div>
        </div>

    </div>

</div>