<!-- public/views/home.html -->

<div class="bg">

    <div class="container">

        <header class="appHeader">
            <h2>Nootti <small>- The note taking app.</small></h2>
            


            <form ng-submit="searchOrCreate()">
                <input type="text" class="form-control" ng-model="searchText" placeholder="Search or Create" ng-keyup="handleKeyPress($event)" autofocus>
            </form>
        </header>

    <!--     <select id="titles" size="5" class="form-control" ng-model="selectedTitle" ng-options="note.title for note in notes | filter:searchText"></select> -->

        <ul class="titles"><li class="titlerow" ng-repeat="note in filteredNotes = (visibleNotes | noteFilter:searchText:enableFilter)" ng-class="{current: $index==current_index}" id="{{ note._id }}" ng-click="selectNote($index)">
                {{ note.title }}
            </li></ul>

        <div class="appBody">
            <textarea id="editingArea" ng-model="current.content" class="form-control" rows="10" ng-disabled="current === undefined"></textarea>

            <div class="noteFooter">
                <span class="left">{{ state }}</span>
                <span class="right">15 words</span>
                <div class="cf"></div>
            </div>
        </div>

    </div>

    <br><br>

    <button ng-click="deleteCurrent()">Delete</button>

    <p>current: {{ current.content }}</p>
    <p>current_index: {{ current_index }} </p>

</div>