<!-- public/views/home.html -->

<div class="jumbotron text-center">
    <h2>Nootti</h2>
    <p>The note taking app.</p>

    <form ng-submit="searchOrCreate()">
        <input class="form-control" ng-model="searchText" placeholder="Search or Create" ng-keydown="key($event)" autofocus>
    </form>

    <select id="titles" size="5" class="form-control" ng-model="selectedTitle" ng-options="note.title for note in notes | filter:searchText"></select>

    <textarea ng-model="editingArea" class="form-control" rows="10"></textarea>

    <button ng-click="deleteCurrent()">Delete</button>

    <p>{{ current }}</p>
    <p>selectedTitle: {{ selectedTitle }} </p>

</div>